<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>
    <h1>Student Details Page</h1>
    <div>ID:<%= student.id %></div>
    <div>Name:<%= student.name %> </div> 
    <div>Email:<%= student.email %> </div>
    <div>Address:<%= student.address.street %> </div>
    <div><%= student.address.suite %> </div>
    <div><%= student.address.city %> </div>
    <div><%= student.address.zipcode %> </div>
    <div>Geolocation:<span><%= student.address.geo.lat %></span>&nbsp&nbsp;<spam><%= student.address.geo.lng %></spam> </div>
    <div>Phone: <%= student.phone%> </div>
    <div>Website: <%= student.website %> </div>
    <div>Company: <%= student.company.name %></div>
    <div>Catch Phrase: <%= student.company.catchPhrase %></div>
    <div>BS: <%= student.company.bs %></div>

    <a href="/learners">Go to Student Directory</a>
             
</body>
</html>
 